:root{ 
  --bg-color: #171717;
  --second-color: #d95f55;   
  --text-color: white;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,h1,h2,h3,h4,h5,h6, a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

h2{
  font-size: 27px;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 16px;
}
.container{
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.content{
  overflow-x: hidden;
  width:100%;
  min-height:100vh; 
  flex-direction: column;
  display: flex;
  background-color: #171717;
  width:100%;
  padding-bottom: 50px;
}
::-webkit-scrollbar {
  width:0;
  background-color: transparent;
}



